.App {
  text-align: center;
}
.myimg {
  text-align: left;
  padding-left: 150px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

div {
  box-sizing: border-box;
}

.background {
  padding-left: 50px;
  padding-right: 50px;
}

 .p-searchbar {
  padding-left: 20px;
  text-align: left;
  width: 100%;
  height: 40px;
  left: 35px;
  top: 29px;
  
  background: #D9D9D9;
  border-radius: 20px;
}
.postwrite1 {
  padding-left: 30px;
  padding-top: 5px;
  text-align: left;
  background-color: rgb(241, 238, 238);
  height: 40px;
  border-radius: 30px;
}

.postwrite2 {
  padding-left: 30px;
  padding-top: 5px;
  text-align: left;
  background-color: rgb(241, 238, 238);
  height: 500px;
  border-radius: 30px;
}
.postwrite3 {
  padding-left: 30px;
  padding-top: 5px;
  text-align: left;
  background-color: rgb(241, 238, 238);
  height: 200px;
  border-radius: 30px;
}
.list {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: left;
  background-color:  rgb(241, 238, 238);
  border-radius: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
